.navText:hover {
    color: firebrick;
    text-underline-position: below;
}

#portfolioBar {
    background-color: firebrick;
}

#aboutBar {
    background-color: firebrick;
}

.projImg {
    height: auto;
    width: auto;
    overflow: auto;
}

#imageMe {
    transform: rotate(90deg);
    height: 100px;
    width: auto;
    float: left;
}